 <div class="col">
            <form class="signup-form">
                <div class="signup-form-group">
                    <label for="email-signup">Email:</label>
                    <input type="text" class="form-input" id="email-signup"/>
                </div>
                <divclass="signup-form-group">
                    <label for="password-signup">Password:</label>
                    <input type="text" class="form-input" id="password-signup"/>
                </div>
                <div class="signup-form-group">
                    <button class="btn btn-secondary" id="signup_button" type="submit">Register</button>
                </div>
            </form>
        </div>