<form>
  <div class="form-group">
    <label for="titleHeader">Title</label>
    <input type="text" class="form-control" id="newSubmissionTitle" aria-describedby="titleSection" placeholder="Enter title">
    <small id="titleHelp" class="form-text text-muted">Please Provide a Title for your Post!</small>
  </div>
  <div class="form-group">
    <label for="contentHeader">Content</label>
    <input type="text" class="form-control" id="newSubmissionContent" placeholder="Content...">
  </div>
  <button type="submit" class="btn btn-dark">Update</button>
  <button type="submit" class="btn btn-dark">Delete</button>
</form>